<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="container-fluid">
      <ul class="nav navbar-nav mr-auto">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/data">Data</a></li>
        <li><a href="https://www.imperva.com/blog/most-active-good-bots/">Spiders</a></li>
        <li><a href="/latest">Latest</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-link"><a href="https://github.com/bacloud14/Secluded">fork</a></li>
      </ul>
      </ul>
    </div>
  </div>

  <div class="jumbotron text-center">
    <h1>404 Error!</h1>
    <p>
      <%= error_message %>
    </p>
  </div>
</body>

</html>