<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="/ganalytics">Google Analytics</a></li>
        <li><a href="/latest">
            < latest>
          </a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>Secluded</h1>
    <p>This is an isolated page. No courteous crawler should index directly</p>
  </div>

  <div class="container">
    <div class="row">
      <%= content %>
    </div>
    <div class="row">
      <div class="card mx-auto" style="width: 18rem;">
        <img src="/images/<%= picURL %>" class="center-block rounded mx-auto d-block" alt="">
        <div class="card-body">
          <p class="card-text">Normally it would mean something useful, if not for this test :)</p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>