body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body, html {
  height: 100%
}

#particles-js canvas{
  width: 100%;
  height: 100%;
  background: #cecece;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}